.clearfix
  /= form_tag( {:project_id => @project}, :method => :get, :id => 'kanban_query_form') do
  /= form_tag :action => 'index',:project_id =>  params[:project_id]
  = form_tag( {:controller => "kanbans", :action => 'index'}, :method => :get, :id => 'kanban_query_form') do
    = select_tag "kanban_id", options_for_select([["All Kanbans",0]]) + options_from_collection_for_select(@kanbans, "id", "name",params[:kanban_id] || 0)
    = select_tag "principal_id", options_for_select([["All Groups",0]]) + options_from_collection_for_select(@principals,"id", "alias", params[:principal_id] || 0)
    = select_tag "member_id", options_for_select([["All Members",0]]) + options_from_collection_for_select(@members,"id", "name", params[:member_id] || 0)
    = hidden_field_tag :project_id, params[:project_id]
    = link_to_function l(:button_save), 'submit_query_form("kanban_query_form")', {:class => 'icon icon-checked'}



