.kanban-board
  = stylesheet_link_tag 'kanban', :plugin => 'ekanban'
  = link_to l(:label_kanban_setup), edit_project_kanban_path(@project.id,kanban.id), :class => 'icon icon-setup', :style => 'float:right'
  = link_to l(:label_kanban_report), {:controller => "kanban_reports", :action => "index"}, :class => 'icon icon-report', :style => 'float:right'
  = search_field_tag "kanban-search", "", :class => "small find-card", :style=>"float:right;width:150px",:selector=>"#kanban_#{kanban.id}"
  = label_tag "search card:", "find:",:style => "float:right;margin-top:5px;margin-right:5px"
  %h3{:style => "margin-top:20px"}= kanban.name
  - panes = controller.panes(kanban)
  - panes_num = panes.size
  %table.kanban{:id=>"kanban_#{kanban.id}"}
    - if panes_num > 0
      %tr{:style=>"height:30px"}
        - stages = controller.stages(panes)
        - stages.each do |s|
          - if s.state_name.size == 1
            %th{:id=>"stage_#{s.id}", :rowspan=>"2", :name=>s.state_name[0]}
              .plain-text{:style => "width:80%;float:left"}
                = s.name
                %span.wip-text{:id => "wip_#{s.id}"}= " "
              - if s.name.downcase == "backlog"
                #backlog-search-icon.ui-icon.icon-search{:style=>"float:left"}
                #backlog-minus-icon.ui-icon.ui-icon-minusthick{:style=>"float:left"}

                /.icon.icon-minus{:style=>"float:right"}
          - else
            %th{:id=>"stage_#{s.id}", :colspan=>"#{s.state_name.size}", :name=>s.name}
              =s.name
              %span.wip-text{:id => "wip_#{s.id}"}= "  "
      %tr
        - stages.each do |s|
          - if s.state_name.size > 1
            - s.state_name.each do |name|
              %th{:id=>"state_#{name}"}=name

      %tr{:style=>"height:90%; overflow-y:auto"}
        - panes.inject(0) do |i,pane|
          - if pane.kanban_state.is_closed == false
            %td.kanban-pane{:id=>"pane_#{pane.id}",:state_id=>"#{pane.kanban_state_id}",:role_id=>"#{pane.role_id}",:check_wip=>"#{pane.in_progress}"}
              - if pane.kanban_state.is_initial == true 
                %input#backlog-search.small{:type=>"text",:style=>"display:none;width:90%;margin:0px;align:center"}
              = render :partial => "kanban_pane", :locals=>{:kanban_id => kanban.id, :pane_id => pane.id}

  
  = content_tag "div", "", :id => "kanban-panes-data", :data => {:panes => panes.to_json}


= javascript_include_tag "kanban", :plugin => :ekanban
:javascript
  $(function() {
    $.ajax({
      type: "GET",
      url:  "#{project_kanban_kanban_panes_path(params[:project_id],kanban.id)}",
      dataType: "json",
      cache: false,
      success: function(json){
        init_wip("#{kanban.id}", json);
      }
    });
  });
%style{:type => "text/css"}

