= stylesheet_link_tag 'kanban', :plugin => 'ekanban'
%h3{:style => "margin 5px"}=kanban.name

- panes = controller.panes(kanban)
- panes_num = panes.size


%table.kanban{:id=>"kanban_#{kanban.id}"}
  - if panes_num > 0
    %tr{:style=>"height:30px"}
      - stages = controller.stages(panes)
      - stages.each do |s|
        - if s.state_name.size == 1
          %th{:id=>"stage_#{s.state_name[0]}", :rowspan=>"2"}
            .plain-text{:style => "width:80%;float:left"}
              = s.name 
              %span.wip-text{:id => "wip_#{s.name}"}= "(#{s.wip}:#{s.wip_limit})"
            - if s.state_name[0] == "backlog"
              #backlog-search-icon.ui-icon.icon-search{:style=>"float:left"}
              #backlog-minus-icon.ui-icon.ui-icon-minusthick{:style=>"float:left"}

              /.icon.icon-minus{:style=>"float:right"}
        - else
          %th{:id=>"stage_#{s.name}", :colspan=>"#{s.state_name.size}"}
            =s.name
            %span.wip-text{:id => "wip_#{s.name}"}= "(#{s.wip}:#{s.wip_limit})"
    %tr
      - stages.each do |s|
        - if s.state_name.size > 1
          - s.state_name.each do |name|
            %th{:id=>"state_#{name}"}=name

    %tr{:style=>"height:90%; overflow-y:auto"}
      -panes.each do |pane|
        %td.kanban-pane{:id=>"pane_#{pane.id}"}
          - if pane.id == 1
            %input#search-input.small{:type=>"text",:style=>"display:none;width:90%;margin:0px;align:center"}
          = render :partial => "kanban_pane", :locals=>{:kanban_id => kanban.id, :pane_id => pane.id}

= javascript_include_tag "kanban", :plugin => :ekanban
:javascript
  $(function() {
    $.ajax({
      type: "GET",
      url:  "#{project_kanban_kanban_panes_path(params[:project_id],kanban.id)}",
      dataType: "json",
      cache: false,
      success: function(json){
        // TOOD: Could optimize by only loading the tab panel that we're looking at
        for (i=0; i<json[1].length; i++){
         if (json[1][i] === json[1][i-1])
           wip += $("#pane_"+(i+1)).children(":visible").length;
         else
           wip = $("#pane_"+(i+1)).children(":visible").length;
         var wip_limit = json[0][i].kanban_pane.wip_limit;
         $("#wip_"+ json[1][i]).text("(" + wip + ":" +wip_limit +")")
        }
      }
    });
  });
%style{:type => "text/css"}

