-controller.cards(pane_id).each do |c|
  - i = c.issue
  - assignee_name = controller.assignee_name(i.assigned_to)
  .kanban-card{:id=>"#{i.id}",:title=>"##{i.priority_id}:#{i.subject}<br>To:#{assignee_name}<br>#{i.description}"}
    .card-header
      = link_to "##{i.id}", issue_path(i)
      = hidden_field_tag :issue_status_id, i.status_id
      = hidden_field_tag :assignee_id, i.assigned_to
      = hidden_field_tag :kanban_state_id, c.kanban_pane.kanban_state.id
      = hidden_field_tag :developer_id, c.developer_id
      = hidden_field_tag :verifier_id, c.tester_id
      = hidden_field_tag :subject, i.subject
      %span{:style=>"margin:4em 0 0 0; text-align:center"}="P#{i.priority_id}   O:#{assignee_name}"
    .card-content="#{i.subject}"
