.contextual= link_to l(:label_kanban_new), new_kanban_path(nil), :class => 'icon icon-add'
%h2 Kanbans

/ = javascript_include_tag 'kanban.js', :plugin => 'scrum2b' %>
= stylesheet_link_tag 'kanban', :plugin => 'ekanban'
= javascript_include_tag "http://code.jquery.com/jquery-1.8.2.js"
= javascript_include_tag "http://code.jquery.com/ui/1.9.1/jquery-ui.js"
= stylesheet_link_tag "http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css"
= javascript_include_tag "select_list_move"
/= javascript_include_tag "kanban", :plugin=>'ekanban'

#kanban_filter
  = render :partial => "filter_board"

/ = stylesheet_link_tag 'version', :plugin => 'kanbans'
#kanban_boards
  = render :partial => "kanban_board", :collection => @kanbans, :as => :kanban

:javascript
  $(function() {

    // Make the pane sortable.
    $( ".kanban-pane" ).sortable({
      connectWith: ".kanban-pane"
    });

    //$( "#state_backlog").addClass ("ui-icon ui-icon-minusthick")

    // Ignore case in contains()
    $.expr[":"].contains = $.expr.createPseudo(function(arg) {
      return function( elem ) {
        return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
      };
    });

    $( ".kanban-card" ).addClass( "ui-helper-clearfix ui-corner-all ")
      .find( ".card-header" )
        .addClass( "ui-widget-header ui-corner-all" )
        .prepend( "<span class='ui-icon ui-icon-minusthick'></span>")
        .end()
      .find( ".card-content" );

    $( ".card-header .ui-icon" ).click(function() {
      $( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
      $( this ).parents( ".kanban-card:first" ).find( ".card-content" ).toggle();
    });
    $( ".kanban-pane" ).disableSelection();
    $( ".search-input" ).enableSelection();

    $( "#backlog-minus-icon").click(function(){
      $(this).toggleClass("ui-icon-minusthick").toggleClass("ui-icon-plusthick");
      $("#pane_1").find(".card-header .ui-icon").trigger("click");
    });

    $("#backlog-search-icon").click(function(){
      $("#search-input").toggle();
      if ($("#search-input").is("autofocus"))
        $("#search-input").focus(0);
      else
        $("#search-input").focus(1);
      $("#search-input").val("");
      $("#search-input").trigger("keyup");
    });

    $("#search-input").keyup(function(){
      var keywords = $(this).val()
      if (keywords === "") {keywords="#"}
      $("#pane_1").find(".kanban-card")
        .hide()
        .filter(":contains('"+(keywords)+"')")
        .show();
    }).keyup();

    $( document ).tooltip();

    $(".kanban-card:contains('P1')").addClass("p1-color")
    $(".kanban-card:contains('P2')").addClass("p2-color")
    $(".kanban-card:contains('P3')").addClass("p3-color")
    $(".kanban-card:contains('P4')").addClass("p4-color")
    $(".kanban-card:contains('P5')").addClass("p5-color")

    //$.ajax({
    //  type: "GET",
    //  url: "/groups",
    //  dataType: "script",
    //  cache: false,
    //  success: function(data){
        // TOOD: Could optimize by only loading the tab panel that we're looking at
    //    alert(data);
    //  }
    //});

  });

